nav.side-navi
	ul.side-navi__list
		li.side-navi__item.side-nav__item--is-active
			span.side-navi__title About
		li.side-navi__item
			span.side-navi__title Perspective
		li.side-navi__item
			span.side-navi__title Tornado