extends layouts/home

block variables
	- var bodyClass = "page"

block navigation
	include partials/side-navi

block content
	include partials/about
	include partials/mouce-perspective
	include partials/tornado